.center {
    margin: 0 auto;
}

#testo1 {
    
    margin: 30px;
    border-radius: 6px;
    border: 6px solid burlywood;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 40%;
    position: absolute;
    left: 55%;         
}